.vscode
.history
*.code-workspace
.env
venv/*
data/chartImg/*
data/practice/*
data/report/*
data/ChartsExample/*
data/charts/*

*.db
*/__pycache__/*
*.pyc
log/*
*.log
python/__pycache__/config.cpython-312.pyc
python/__pycache__/config.cpython-312.pyc
python/__pycache__/config.cpython-312.pyc
