python-dotenv
jpholiday
pandas
psutil
peewee
yfinance
schedule
matplotlib
numpy
scipy
scikit-learn
seaborn
openpyxl
requests
beautifulsoup4
lxml
plotly
uvicorn
fastapi
pydantic
pydantic-settings
SQLAlchemy
psycopg2-binary
google-cloud-storage
